/buddha.py~
/buddha_parallel.py~
/buddha_parallel_bulb.py~
/buddhabrot-1.0.tar.gz
/mandel_simple.py~
/render.png
/render_bordure.png
/test_bulb.bmp
/test_bulb_zone.bmp
/buddha_parallel_bulb_zone_sample.py~
/render_border_1800_1200.png
/render_border_1800_1200.xcf
/test_bulb_zone_sample.bmp
/mandel_simple_threshold.py~
/render_border.bmp
/render_border.png
/imap.bmp
/render_900_600_ok.bmp
/test_bulb_zone_sample_imap.bmp
/buddha_parallel_bulb_zone_sample_imap.py~
/passy_mal.bmp
/buddha_parallel_bulb_zone_sample_imap_render.py~
/colors.bmp
